USE [master]
GO
/****** Object:  Database [web_person_creditcard_tracker]    Script Date: 4/4/2021 2:10:20 PM ******/
CREATE DATABASE [web_person_creditcard_tracker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hb_person_creditcard_traker', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\hb_person_creditcard_traker.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'hb_person_creditcard_traker_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\hb_person_creditcard_traker_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
BEGIN
	EXEC [web_person_creditcard_tracker].[dbo].[sp_fulltext_database] @action = 'enable'
END
GO
USE [web_person_creditcard_tracker]
GO

/****** Object:  User [springstudent]    Script Date: 4/4/2021 2:10:20 PM ******/
CREATE USER [springstudent] FOR LOGIN [springstudent] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [springstudent]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [springstudent]
GO
ALTER ROLE [db_datareader] ADD MEMBER [springstudent]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [springstudent]
GO
/****** Object:  Table [dbo].[Credit_Card]    Script Date: 4/4/2021 2:10:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Credit_Card]
(
	[id] [INT] IDENTITY(1,1) NOT NULL,
	[number] [VARCHAR](255) NULL,
	[type] [VARCHAR](255) NULL,
	[person_id] [INT] NULL,
	PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Person]    Script Date: 4/4/2021 2:10:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person]
(
	[id] [INT] IDENTITY(1,1) NOT NULL,
	[first_name] [NVARCHAR](50) NULL,
	[last_name] [NVARCHAR](50) NULL,
	[money] [FLOAT] NULL,
	CONSTRAINT [PK__Person__3213E83FD9055FE1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Credit_Card] ON

INSERT [dbo].[Credit_Card]
	([id], [number], [type], [person_id])
VALUES
	(1, N'123456111', N'VisaDebit', 1)
INSERT [dbo].[Credit_Card]
	([id], [number], [type], [person_id])
VALUES
	(3, N'88888', N'Master Card', 1)
INSERT [dbo].[Credit_Card]
	([id], [number], [type], [person_id])
VALUES
	(4, N'123456', N'Viettin Visa card', 1)
SET IDENTITY_INSERT [dbo].[Credit_Card] OFF
SET IDENTITY_INSERT [dbo].[Person] ON

INSERT [dbo].[Person]
	([id], [first_name], [last_name], [money])
VALUES
	(1, N'Pham', N'Quang', 1)
INSERT [dbo].[Person]
	([id], [first_name], [last_name], [money])
VALUES
	(2, N'Minh 1', N'Quang', 111)
INSERT [dbo].[Person]
	([id], [first_name], [last_name], [money])
VALUES
	(3, N'Pham', N'Quang', 0)
SET IDENTITY_INSERT [dbo].[Person] OFF
ALTER TABLE [dbo].[Credit_Card]  WITH CHECK ADD  CONSTRAINT [FK61kx9l7mu2tcdrs6opvn8o0qm] FOREIGN KEY([person_id])
REFERENCES [dbo].[Person] ([id])
GO
ALTER TABLE [dbo].[Credit_Card] CHECK CONSTRAINT [FK61kx9l7mu2tcdrs6opvn8o0qm]
GO
USE [master]
GO
