CREATE DATABASE web_student_tracker
GO

USE web_student_tracker
GO

CREATE TABLE Department (
    id INT IDENTITY(1,1) PRIMARY KEY,
    departmentName NVARCHAR(50) NOT NULL
)
GO

CREATE TABLE Class (
    id INT IDENTITY(1,1) PRIMARY KEY,
    className NVARCHAR(50) NOT NULL,
    departmentId INT NOT NULL,
    FOREIGN KEY (departmentId)
        REFERENCES Department (id)
)
GO

CREATE TABLE [dbo].[student]
(
	id int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	firstName nvarchar(50) NULL,
	lastName nvarchar(50) NULL,
	email nvarchar(100) NULL,
	imageUrl varchar(512) NULL,
)
GO

INSERT INTO Department (departmentName) 
values
(N'Công nghệ thông tin'),
(N'Cơ bản'),
(N'Cơ khí'),
(N'Kế toán')
GO

INSERT INTO class (className, departmentId) 
values
(N'DHCNTT15K', 1),
(N'DHCB15A', 2),
(N'DHCK15B', 3),
(N'DKCNTT15H', 1),
(N'DHKT15A', 4)
GO

GO